g2if_server/g2if/bin
*.o
*.log
*~
Makefile.depend

.vscode

*.egg-info
__pycache__

# pyproject.toml # symlink to either rts or obcp # TBC
IDlog.txt
g2if_server/g2if/g2if_server
g2if_server/g2if/g2if_client
